<div class="container">
  <h1 class="blogs-title">Blogs</h1>
  <div class="blog-cards">
    <% @blogs.each do |blog| %>
      <div class="blog">
        <%= link_to blog_path(blog) do %>
        <h3 class="blog-card-title"><%= blog.title %></h3>
        <p class="blog-card-subtitle"><strong><%= blog.subtitle %></strong></p>
        <p class="blog-card-content"><%= blog.content %>...</p>
        <p class="blog-card-publisher"><%= blog.publisher %></p>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= link_to 'New Post', new_blog_path, class: "button-form" %>
</div>
