<div class="container">
  <h1 class="blogs-title">Blogs</h1>


  <div class="blog-cards">
    <% @blogs.each do |blog| %>
      <div class="blog">
        <%= link_to blog_path(blog) do %>
        <h3><%= blog.title %></h4>
        <p><%= blog.subtitle %>...</p>
        <p><%= blog.publisher %></p>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= link_to 'New Post', new_blog_path, class: "button-form" %>
</div>
