<div class="container">
  <h1 class="blog-title">New Blog</h1>
  <div class="blog-container">
    <div class="form-container">
      <%= simple_form_for @blog, html: { class: "form-new"} do |f| %>
        <%= f.input :title, placeholder: 'Title...' %>
        <%= f.input :content, placeholder: 'Your blog content...' %>
        <%= f.input :publisher, placeholder: 'Publisher...' %>
        <%= f.button :submit, class: "button-form" %>
      <% end %>
    </div>
  </div>
</div>
