<div class="blog-show-container">
  <h1 class="show-blog-title"><%= @blog.title %></h1>
  <h2 class="show-blog-subtitle"><%= @blog.subtitle %></h2>
  <hr>
  <p class="show-blog-content"><%= @blog.content %></p>
  <div class="blog-img">
    <% if @blog.image_url.present? %>
        <%= image_tag(@blog.image_url) %>
    <% end %>
  </div>
  <strong class="user-subheading">USER: <p class="show-blog-publisher"><%= @blog.publisher %></p></strong>
</div>
