<div class="blog-show-container">
  <div class="blog-box">
    <h1 class="show-blog-title"><%= @blog.title %></h1>
    <h2 class="show-blog-subtitle"><%= @blog.subtitle %></h2>
    <hr>
    <p class="show-blog-content"><%= @blog.content %></p>
      <% if @blog.image_url.present? %>
      <div class="blog-img">
        <%= image_tag(@blog.image_url) %>
      </div>
      <% end %>
      <small><em><%= @blog.user.username %></small></em>
      <small><em class="text-muted"><p><%= distance_of_time_in_words_to_now(@blog.created_at) %> ago</p></em></small>
  </div>

  <%# <strong class="user-subheading"><p class="show-blog-publisher"><%= @blog.publisher %>

  <div class="comment-container">
    <h1>Add a comment</h1>
    <%= simple_form_for [@blog, @comment] do |f| %>
      <%= f.input :body, html5: true, class: 'comment-box' %>
      <%= f.button :submit, "Post" %>
    <% end %>
  </div>

  <div class="container-comments p-5 m-5 shadow bg-white rounded">
    <h1>Comments for <%= @blog.title %></h1>
    <% @blogs.each do |blog| %>
      <div class="comment-box">
        <% blog.comments.each do |c| %>
          <p><%= c.body %></p>
          <div class="comment-times">
            <ul><small><em class="text-muted"><p><%= distance_of_time_in_words_to_now(c.created_at) %> ago</p></em></small></ul>
            <ul><small><em><%= c.user.username %></small></em></ul>
          </div>
          <hr class="comment-hr">
        <% end %>
        </div>
      <% end %>
    </div>

  <div class="button-container">
    <div class="button">
      <%= link_to "Delete Post", blog_path, method: :delete, data: { confirm: 'Are you sure?'}, class: 'button-blog' %>
    </div>
    <div class="button">
      <%= link_to "Edit Post", edit_blog_path(@blog), class: 'button-blog' %>
    </div>
    <div class="button">
      <%= link_to "Back", blogs_path, class: 'button-blog' %>
    </div>
  </div>
</div>
