<div class="container">
  <h1><%= @stock.name %> histories</h1>
  <div class="chartkick">
    <%= line_chart @histories.group(:date).sum('price').to_f, height: '600px' %>
  </div>
  <% @histories.each do |h| %>
    <div class="history">
    <%= h.stock_id %>
    <%= h.price %>
    <%= h.date %>
    </div>
  <% end %>
</div>
